In [1]:
import os
import io
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
PATH = '/e/DOCS/20_non/05-map-data/data/codepo_aug2020/Data/CSV/'
all_files = [f for f in os.listdir(PATH) if f.endswith('.csv')]

all_dataframes = []
for file in all_files:
    df = pd.read_csv(PATH + file, header=None)
    all_dataframes.append(df)
df_raw = pd.concat(all_dataframes, ignore_index=True)
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1708495 entries, 0 to 1708494
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       int64
 2   2       int64
 3   3       int64
 4   4       object
 5   5       object
 6   6       object
 7   7       object
 8   8       object
 9   9       object
dtypes: int64(3), object(7)
memory usage: 130.3+ MB

In [4]:
has_space = df[0].str.contains(' ')
df.loc[~has_space]

,0,1,2,3,4,5,6,7,8,9
0,AB101AB,10,394235,806529,S92000003,NaN,S08000020,NaN,S12000033,S13002842
1,AB101AF,10,394181,806429,S92000003,NaN,S08000020,NaN,S12000033,S13002842
2,AB101AG,10,394230,806469,S92000003,NaN,S08000020,NaN,S12000033,S13002842
3,AB101AH,10,394371,806359,S92000003,NaN,S08000020,NaN,S12000033,S13002842
4,AB101AL,10,394296,806581,S92000003,NaN,S08000020,NaN,S12000033,S13002842
...,...,...,...,...,...,...,...,...,...,...
1707840,YO901WR,10,459983,451850,E92000001,E19000001,E18000003,NaN,E06000014,E05010325
1707841,YO901WT,10,459652,451975,E92000001,E19000001,E18000003,NaN,E06000014,E05010325
1707842,YO901WU,10,459652,451975,E92000001,E19000001,E18000003,NaN,E06000014,E05010325
1707843,YO901WW,10,459652,451975,E92000001,E19000001,E18000003,NaN,E06000014,E05010325
1707844,YO901YB,10,459652,451975,E92000001,E19000001,E18000003,NaN,E06000014,E05010325

In [5]:
has_2space = df[0].str.contains('  ')
df.loc[has_2space]

,0,1,2,3,4,5,6,7,8,9
24862,B1 1AY,10,406523,286448,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
24863,B1 1BA,10,406875,286393,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
24864,B1 1BB,10,406610,286987,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
24865,B1 1BD,10,406689,286781,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
24866,B1 1BE,10,406721,286611,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
...,...,...,...,...,...,...,...,...,...,...
1610215,W9 4HJ,10,525160,179244,E92000001,E19000003,E18000007,NaN,E09000020,E05009388
1610216,W9 4HQ,10,525160,179244,E92000001,E19000003,E18000007,NaN,E09000020,E05009388
1610217,W9 4HS,10,525160,179244,E92000001,E19000003,E18000007,NaN,E09000020,E05009388
1610218,W9 4HW,50,525160,179244,E92000001,E19000003,E18000007,NaN,E09000020,E05009388
1610219,W9 4HY,10,525160,179244,E92000001,E19000003,E18000007,NaN,E09000020,E05009388

In [7]:
PATH2 = '/e/DOCS/20_non/05-map-data/data/'
dfmot_r = pd.read_csv(PATH2 + 'mot-vehicle-testing-stations.csv')
dfmot_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23224 entries, 0 to 23223
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   VTS Site Number       23224 non-null  object
 1   Trading Name          23208 non-null  object
 2   VTS Address Line 1    23224 non-null  object
 3   VTS Address Line 2    15479 non-null  object
 4   VTS Address Line 3    5454 non-null   object
 5   VTS Address Line 14   23224 non-null  object
 6   VTS Postcode          23224 non-null  object
 7   VTS Telephone Number  23224 non-null  object
 8   1                     23224 non-null  int64
 9   2                     23224 non-null  int64
 10  3                     23224 non-null  int64
 11  4                     23224 non-null  int64
 12  5                     23224 non-null  int64
 13  7                     23224 non-null  int64
dtypes: int64(6), object(8)
memory usage: 2.5+ MB

In [8]:
to_keep = ['Trading Name', 'VTS Address Line 1',
       'VTS Address Line 2', 'VTS Address Line 3', 'VTS Address Line 14',
       'VTS Postcode']
dfmot = dfmot_r[to_keep].copy()
dfmot.columns = ['Name', 1, 2, 3, 4, 'Postcode']

In [9]:
def join_address(row):
    '''Joins separate address fields into single field
    with commas between parts'''
    address = ''
    for value in row:
        if value is not np.nan:
            address += value + ', '
    return address[:-2]

out = [join_address(row[1:5]) for _, row in dfmot.iterrows()]
dfmot['Address'] = out
dfmot.drop(columns=[1, 2, 3, 4], inplace=True)

In [10]:
po_1space = dfmot['Postcode'].str.contains(' ')
dfmot[~po_1space]

             Name Postcode                      Address
21580  TAYLOR MOT  TW151DL  32-34 FELTHAM ROAD, ASHFORD

In [11]:
po_2space = dfmot['Postcode'].str.contains('  ')
dfmot.loc[po_2space]

               Name  Postcode                                   Address
12282  WILLIAMS JLR  M41  7GF  24 BARTON DOCK ROAD, URMSTON, MANCHESTER